@{
    ViewBag.Titttle = "Perfis";
    List<MatchAJob.Models.Usuario> usuarios = ViewBag.usuarios;
}
<h1>Usuarios</h1>
<div>
    <a href="/usuario/registrar" class="btn btn-success">Registrar usuario</a>
</div>

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}
@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">@TempData["Erro"]</div>
}



@foreach (var u in usuarios)
{

    <div class="card mb-3" style="max-width:100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <h3 class="card-title">@u.Nome</h3>
                <img src="~/images/teste.png" class="img-fluid rounded-start" alt="..." width="350" height="350">
            </div>

            <div class="col-md-8">

                <div class="card-body">



                </div>
                <p class="card-text">
                    <h4> Area </h4> @u.Area

                    <h4> Tipo  </h4>
                    @u.Tipo
                    <h4> Nivel  </h4>
                    @u.Nivel
                    <h4> Habilidade Principal  </h4>
                    @u.Habilidades
                </p>
            </div>
            <a href="/usuario/@u.Id/Alterar" class="btn btn-primary">Ver perfil completo</a>
            <a href="/usuario/@u.Id/Alterar" class="btn btn-warning">Editar</a>



            <a href="/usuario/@u.Id/Excluir" class="btn btn-danger" onclick="Excluir(@u.Id,event)">Excluir</a>
        </div>
    </div>
}

